html{
    background-image: url(Backgrounds/Back1.jpg)
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Introduction .Name{
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(#ffb338, #77571d); 
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
   transition: background-size .7s, background-position .5s ease-in-out;
}

.ProjectName:hover,.Name:hover{
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}

.Introduction {
    color: #ffffffe6;
    text-align: center;
    margin: 20px;
    padding: 2%;
}

h1 {
    font-weight: 900;
    font-size: 30pt;
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
    border: 2px solid #ffffffbf;
    padding: 5px;
    margin: 10px;
}

p{
    font-size: 12pt;
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 5px;
}

.AboutList{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
}

.Projects{
    color: #ffffffe6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin-bottom: 20px;
}

.ProjectList{
    background-image: url(Backgrounds/Back4.jpg);  
    padding: 5px;
    list-style-type: none;
}

.ProjectHeader{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    font-size: 20px;
    text-align: left;
    padding: 10px;
}

.ProjectName{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  top: 50%;
  left: 50%;
  background-image: linear-gradient(#ffb338, #77571d); 
  background-size:  100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size .7s, background-position .1s ease-in-out;
}

.ProjectName a{
  color: beige;
  text-decoration: none;
}

.ProjectLinks{
    left: 20px;
    color: white;
}

.Socials{
    padding: 1px;
    color: white;
    background-image: url(Backgrounds/Foot2.jpg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.Socials a[href]{
    color: bisque;
    text-decoration: none;
}

.Skills span{
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  font-weight: 600;
}

/* Project Header  */

.Projects > div {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ProjectHeading{
    background: linear-gradient(to bottom, #ffb338 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffb338 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
  font-family:'Bebas Neue', cursive;
    position: relative;
	text-transform: uppercase;	
	font-size: 50pt;
	margin: 0;
	font-weight: 400;
  border: #000;
}

h1:after {
    background: none;
    content: attr(data-heading);
    left: 0;
	top: 0;
    z-index: -1;
    position: absolute;
    text-shadow: 
		-1px 0 1px #c6bb9f, 
		0 1px 1px #c6bb9f, 
		5px 5px 10px rgba(0, 0, 0, 0.4),
		-5px -5px 10px rgba(0, 0, 0, 0.4);
}

  /* Intro Paragraph  */

  :root {
    --color-primary: hsl(37 , 100% , 61%);
    --color-secondary: hsl(37, 100% , 61%);
    --text: hsl(37, 100% , 61%);
  }
  
  ::selection {
    background-color: var(--color-primary);
    color: var(--background);
    -webkit-text-fill-color: var(--background);
  }
  
  * {
    box-sizing: border-box;
  }
  
  body .Introduction p{
    display: grid;
    gap: 4vh;
    font-size: 1.4rem;
    font-family: 'Bebas Neue', cursive;
    line-height: 1.5;
    background-color: var(--background);
    color: var(--text);
  }
  
  blockquote {
    border-left: 5px solid;
    margin-left: 0;
    padding: 1rem 0 1rem 2rem;
    font-size: 2rem;
  }

  .About {
    font-family: 'Bebas Neue', cursive;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      35deg,
      var(--color-primary),
      var(--color-secondary)
    );

    p {
      margin: 0;
    }
  }

  .AboutHeading{
    text-align: left;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Bebas Neue', cursive;;
    color: #ffb338;
    margin-top: 32px;
  }

  .ProjectDescription{
    border-left: 5px solid;
    margin-left: 0;
    padding: 1rem 0 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Bebas Neue', cursive;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      35deg,
      var(--color-primary),
      var(--color-secondary)
    );
  
    p {
      margin: 0;
    }
  }
  
  .ProjectDescription li{
    text-align: left;
  }

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

.ProjectInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1vh;
}
.list {
  position: relative;
}

.list ul {
  position: relative;
}
.list ul li {
  position: relative;
  left: 0;
  color: beige;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid #77571d;
  transition: 0.5s;
  cursor: pointer;
}
.list ul li:hover {
  left: 10px;
}
.list ul li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.list ul li:hover span {
  color: #ffb338;
}
.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #77571d;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul li:hover:before {
  transform: scaleX(1);
}
