body{
    max-width: 100%;
    font-family: 'jost', serif;
    min-height: 100vh;
    cursor: context-menu;
    background-color: hsla(0, 100%, 50%, 1);
    background-image:
    radial-gradient(at 40% 20%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
}


#header{
    max-width: 100%;
    display: grid;
    grid-template-columns: .25fr 1fr .25fr;
    font-size: 20px;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {

    #header { 
       font-size: 10px; 
    }
 
}

#logo{
    width: 175px;
    min-height: 75px;
    text-align: center;
}

#logo h1{
    display: inline-block;
    min-width: 70px;
    min-height: 15px;
    border: 4px solid black;
    border-radius: 50%;
    font-family: 'Pacifico';
}

#welcome{
    max-width: 100%;
    max-height: 2px;
    text-align: center;
    position: relative;
}

#welcome span {
    max-width: 100%;
    position: relative;
    display: inline-block;
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}
 
@media only screen and (max-width: 1000px) {

    #welcome span { 
       font-size: 15px; 
    }
 
}

@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
}

#socialsDiv{
    max-width: 100%;
    margin-top: 35px;
    width: 175px;
}

@media only screen and (max-width: 1000px) {

    #socialsDiv { 
       margin-top: 17.5px; 
    }
 
}

#socialsDiv {
    position: relative;
    display: inline-block;
}
  
#content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: center;
}
  
#socialsDiv:hover #content {
    display: block;
}

#content div a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#content div a:before {
    content: '';
    background: hsla(242, 100%, 70%, 1);
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
  
#content div a:hover {
    background-position: 0;
    font-weight: 600;
}
   
#content div a:hover::before {
    width:100%;
}

#socialsDiv span{
    display: flex;
    justify-content: center;
}

#socials div{
    width: 35px;
    height: 5px;
    text-align: center;
    background-color: black;
    margin: 6px 0;
}

#introduction{
    max-width: 100%;
    display: grid;
    grid-template-columns: .4fr .6fr;
    justify-content: center;
    margin-top: 60px;    
}

#name{
    margin: auto;
}

#name1{
    max-width: 100%;
    text-align: center;
    font-size: 18px;
}

@media only screen and (max-width: 1000px) {

    #name1 { 
       font-size: 9px; 
    }
 
}

#name2 {
    font-size: 45px;
}

@media only screen and (max-width: 1000px) {

    #name2 { 
       font-size: 22.5px; 
    }
 
}

#name2 span::before{
    transition:all 10ms ease-in;
}

#name2 span:hover{
    font-size: 75px;
}

@media only screen and (max-width: 1000px) {

    #name2 span:hover{ 
       font-size: 30px; 
    }
 
}

#introP{
    margin: 10px;
    font-size: 23px;
    text-align: justify;
    animation: fadeIn 2s ease-in-out;
    padding: 5px;
}

@media only screen and (max-width: 1000px) {

    #introP { 
       font-size: 10px; 
    }
 
}

#introP:hover{
    border: 2px solid black;
    font-weight: 600;
    transition: all .05s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#about{
    max-width: 100%;
    display: grid;
    grid-template-columns: .75fr .25fr;
    justify-content: left;
    margin-top: 50px;
}

#aboutlist{
    max-width: 100%;
    font-size: 22px;
    font-weight: 500;
}

@media only screen and (max-width: 1000px) {

    #aboutlist{ 
       font-size: 11px; 
    }
 
}

#project{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid hsla(242, 100%, 70%, 1);
    border-radius: 25%;
    font-size: 22px;
}

#project a{
    color: black;
}

#project i{
    font-size: 20px;
}

#project h4{
    padding-left: 10px;
    text-align: left;
}

@media only screen and (max-width: 1000px) {

    #project{ 
       font-size: 11px; 
    }
 
}

#project:hover{
    background-color: #f89b9e;
    background-image: linear-gradient(315deg, #f89b9e 25%, #c9d9ff 70%);;
    border: none;
    transition: all .25s ease-in-out;
}

#project:hover a{
    color:rgb(88, 14, 237);
}

#skills{
    margin-top: 50px;
    text-align: center;
}

#skills div{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1000px) {

    #skills div{ 
       font-size: 12.5px; 
    }
 
}

#aboutlist {
    position: relative;
}

#aboutlist ul {
    position: relative;
}

#aboutlist ul li {
    position: relative;
    left: 0;
    margin-right: 20px;
    color: black;
    list-style: none;
    border-left: 2px solid hsla(242, 100%, 70%, 1);
    transition: 0.5s;
    cursor: context-menu;
}

#aboutlist ul li:hover {
    left: 10px;
}

#aboutlist ul li span {
    position: relative;
    padding: 8px;
    padding-left: 12px;
    display: inline-block;
    z-index: 1;
    margin-bottom: 2px;
}

#aboutlist ul li:hover span {
    color: black;
    font-weight: 600;
    font-size: 22px;
}

@media only screen and (max-width: 1000px) {

    #aboutlist ul li:hover span{ 
       font-size: 11px; 
    }
 
}

#aboutlist ul li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid hsla(242, 100%, 70%, 1);
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
}

#aboutlist ul li:hover:before {
    transform: scaleX(1);
}
